/*
font-family: 'Roboto', sans-serif; Для заоголвка
font-family: 'Montserrat', sans-serif; Для контента*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 22px;
    color: #555;
    font-family: "Montserrat", sans-serif;
}

section {
    padding-bottom: 70px;
}
.section-top {
    padding-top: 150px;
}

a {
    text-decoration: none;
    color: #555;
}

/*Numbered list*/
ol {
    counter-reset: numberLi;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

ol li:not(:last-child) {
    padding-bottom: 12px;
}

ol li::before {
    color: #fff;
    text-align: center;
    line-height: 1.6rem;
    width: 1.6rem;

    background-image: linear-gradient(45deg, #339966, #00cc99);
    border-radius: 50%;

    display: inline-block;
    margin-right: 10px;

    counter-increment: numberLi;
    content: counter(numberLi);
}

/*Сontent*/
.content {
    text-align: center;
    width: 1160px;

    margin: 0 auto;

}

/*Diagonal line*/
.diagonal-line {
    transform: skew(0deg, -3.5deg);
}

/*Main page section*/
.main-page {
    color: #fff;
    background: rgba(40, 40, 40, 1);

    position: static;
    z-index: 0;
}


/*scroll up section*/
.scroll-up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 100;

    color: #dcdcdc;
    cursor: pointer;
    visibility: hidden;

    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 0 4px #dcdcdc;
    box-shadow: inset 0 0 0 4px #dcdcdc;
    opacity: 0;

    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;

    -ms-transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -o-transform: translateY(25px);
    -moz-transform: translateY(25px);
    transform: translateY(25px);

    width: 60px;
    height: 60px;
}
.scroll-up::before {
    content: '↑';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    font-size: 20px;
    color: #00cc99;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
.scroll-up-active {
    visibility: visible;
    opacity: 1;

    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
.scroll-up__svg-path {
    fill: none;
    stroke: #00cc99;
    stroke-width: 4px;

    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

/*Header section*/
.header {
    background-color: #fff;
    box-shadow: 0 0 20px 20px #fff;

     position: fixed;
     top: 0;
     left: 0;
     z-index: 9;

     width: 100%;

     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;
     -ms-align-items: center;
     align-items: center;
}

.nav {
    color: #121212;
    font-family: "Roboto", sans-serif;
    height: 100px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

/*Mobile nav turn off */
.mobile-nav {
    display: none;
}

/* For mobile version */
.hamburg-menu {
    display: none;
}

.contact-mobile {
    display: none;
}

/* For desktop version */
.logo {
    color: #555;
}

.big-screen-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.big-screen-nav-item:not(:last-child) {
    padding-right: 20px;
}

.big-screen-nav-link {
    color: #555;
    text-transform: capitalize;
    text-align: center;

    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.big-screen-nav-link:hover {
    color: #859585;
    border-bottom: 1px solid #859585;

    padding-bottom: 5px;
}


/*Title section*/
.title {
    position: relative;

    font-size: 35px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: rgba (0 0 0 / 0.9);
}

.title::before,
.title::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: #121212;
}

.title::before {
    bottom: -17px;
    left: 527px;
}

.title::after {
    bottom: -27px;
    left: 490px;
}

/*Subtitle section*/
.subtitle {
    color: #555;
    line-height: 1.5;

    padding-top: 100px;
}

.subtitle p:not(:last-child) {
    padding-bottom: 20px;
}

/*Styles for the "Сomments" Section*/
.comments {
    position: relative;

    text-align: left;
    line-height: 1.5;
    font-style: italic;

    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(104, 104, 104, 0.25);

    padding: 45px 50px;
    margin-top: 60px;
}

.comments::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 5px;

    display: inline-block;
    background: url("../img/sprite.png") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position: -56px -159px;
    width: 50px;
    height: 50px;
}

.comments::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 5px;

    display: inline-block;
    background: url("../img/sprite.png") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-position: -3px -159px;
    width: 50px;
    height: 50px;
}

/*Styles for the "Parameters" or "Specifications" Section*/
.parameters-title {
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;

    padding-top: 40px;
    padding-bottom: 30px;
}

.parameters-img {
    width: 45%;
    height: 400px;

    margin-right: 30px;
}

.parameters-content {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.big-line {
    line-height: 1.4;
}

.parameters-price {
    color: #990033;
    text-align: left;

    padding-top: 30px;
    padding-left: 2%;
}

/*Styles for the "Table" Section*/
table {
    margin: 0 auto;
}

.table-article {
    font-family: "Roboto", sans-serif;
    font-size: 35px;

    border: #fff5ee;
    background-image: linear-gradient(360deg, #00cc99, #7acca3);
}

th,
td {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;

    width: 500px;
    height: 50px;

    vertical-align: middle;
    border: 3px solid #fff5ee;
}

th {
    background-color: #72c6a3;
}

td {
    background-color: #49c793;
}

/*Styles for imgs*/
.wrapper-img {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;

    margin-top: 40px;
}

.wrapper-img img {
    width: 300px;
}

.wrapper-img img:not(:last-child) {
    margin-right: 40px;
}

/*Styles for YouTube videos*/
.youtube-video {
    margin-top: 40px;
}


/*Styles for Footer section*/
.footer {
    background-color: #3c3d41;
    font-family: "Open Sans", sans-serif;
    width: 100%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;

    padding: 40px 0;
}

.footer-logo {
    color: #fff;
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.footer-nav-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.footer-nav {
    text-align: left;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;

    padding-left: 50px;
}

.footer-nav-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;

    padding-bottom: 30px;
}

.footer-nav-link {
    color: #d4ddd4;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    transition: 0.3s;
}

.footer-nav-link:hover {
    color: #859585;
    text-decoration: underline;
}

.footer-nav-link:not(:last-child) {
    padding-bottom: 20px;
}

/*Sprte section */
.construction-crane,
.airplane,
.aquapark,
.bathhous-dark,
.bathhous-light,
.car,
.chemic,
.farm,
.jet-ski,
.quotes-close,
.quotes-open,
.ship,
.slot-machine {
    display: inline-block;
    background: url(../img/sprite.png);
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.construction-crane {
    background-position: -3px -0px;
    width: 50px;
    height: 50px;
}

.airplane {
    background-position: -56px -0px;
    width: 50px;
    height: 50px;
}

.aquapark {
    background-position: -109px -0px;
    width: 50px;
    height: 50px;
}

.bathhous-dark {
    background-position: -3px -53px;
    width: 50px;
    height: 50px;
}

.bathhous-light {
    background-position: -56px -53px;
    width: 50px;
    height: 50px;
}

.car {
    background-position: -109px -53px;
    width: 50px;
    height: 50px;
}

.chemic {
    background-position: -3px -106px;
    width: 50px;
    height: 50px;
}

.farm {
    background-position: -56px -106px;
    width: 50px;
    height: 50px;
}

.jet-ski {
    background-position: -109px -106px;
    width: 50px;
    height: 50px;
}

.quotes-close {
    background-position: -3px -159px;
    width: 50px;
    height: 50px;
}

.quotes-open {
    background-position: -56px -159px;
    width: 50px;
    height: 50px;
}

.ship {
    background-position: -109px -159px;
    width: 50px;
    height: 50px;
}

.slot-machine {
    background-position: -3px -212px;
    width: 50px;
    height: 50px;
}
