/*Maine page section*/
.main-page {
    position: sticky;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    z-index: -9;
}

/*Header section*/
.header {
    height: 100px;
}

.nav {
    height: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

/*Intro section*/
.intro {
    height: 90vh;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.title-intro {
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
}

/*Using section*/
.using {
    height: 114vh;
    background: linear-gradient(303deg, #1687b2, #295196);
    color: #fff;

    z-index: 2;
    overflow: hidden;
    transform: skew(0deg, 3.5deg) translateY(95px);
}

.using-title {
    position: relative;

    color: #fff;
    font-size: 42px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;

    padding-top: 150px;
}

.using-title::before,
.using-title::after {
    content: "";
    position: absolute;

    width: 150px;
    height: 2px;

    background-color: #fff;
}

.using-title::before {
    bottom: -17px;
    left: 527px;
}

.using-title::after {
    bottom: -27px;
    left: 490px;
}

.using-cards-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 85px 0 120px;
}

.using-card {
    width: 33%;
    margin-bottom: 30px;
}

.using-card-title {
    color: rgba (0 0 0 / 0.8);
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 27px;
    letter-spacing: 3px;
    font-weight: 700;

    padding-top: 20px;
}

.using-card-subtitle {
    font-size: 18px;
    line-height: 1.4;

    padding-top: 20px;
}

/*Manufacturing section*/
.manufacturing {
    background-color: #fff;
}

.manufacturing-title {
    color: rgba (0 0 0 / 0.9);
    font-size: 42px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;

    padding-top: 270px;
    position: relative;
}

.manufacturing-title::before,
.manufacturing-title::after {
    content: "";
    position: absolute;

    width: 150px;
    height: 2px;

    background-color: #121212;
}

.manufacturing-title::before {
    bottom: -17px;
    left: 527px;
}

.manufacturing-title::after {
    bottom: -27px;
    left: 490px;
}

.manufacturing-subtitle {
    color: #555;
    line-height: 1.5;

    padding-top: 100px;
}

.manufacturing-card-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 70px;
}

.manufacturing-card {
    width: 45%;
    height: 200px;
    overflow: hidden;

    box-shadow: 0 0 20px 5px rgba(0 0 0 / 0.2);
    border-radius: 20%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    margin-bottom: 40px;
}

.manufacturing-card-title {
    color: rgba (0 0 0 / 0.8);
    font-size: 35px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    margin-top: 20px;
}

.manufacturing-card-btn {
    position: relative;

    color: #1687b2;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: uppercase;

    background-color: #fff;
    border-radius: 30px;

    display: none;
    transition: 0.4s;

    padding: 20px 35px;
    margin-top: 15px;
}

/*Hover for button*/
.manufacturing-card:hover {
    background: #1687b2;
    transition: 0.4s;
}

.manufacturing-card:hover .manufacturing-card-title {
    display: none;
}

.manufacturing-card:hover .manufacturing-card-img {
    display: none;
}

.manufacturing-card:hover .manufacturing-card-btn {
    display: block;
    transition: 0.4s;
}
