/*For phone screen*/
@media screen and (max-width: 576px) {
    .big-screen-nav-wrapper {
        display: none;
    }
}


/*For mobile and medium tablet diagonal*/
@media screen and (max-width: 1367px) {

    /*    General section*/
    body {
        overflow-y: auto;
        font-size: 16px;
    }

    section {
        padding-bottom: 30px;
    }
    .section-top {
        padding-top: 50px;
    }

    img {
        width: 100%;
    }

    /*    Number list*/
    ol {
        padding-left: 0;
    }

    /*    Table section*/
    th,
    td {
        width: 100%;
        height: 60px;

        vertical-align: middle;
        border: 3px solid #fff5ee;
        color: #fff;
        font-size: 16px;
        text-transform: capitalize;
    }

    .table-article {
        font-size: 24px;
        padding-right: 3%;
    }

    /*    Video from youtube*/
    iframe {
        width: 100%;
        height: 250px;
    }

    /*    Content*/
    .content {
        width: 100%;
        padding: 0 20px;
    }

    /*Header section*/
    .header {
        height: 50px;
    }

    /*Сontent desctop*/
    .logo {
        display: none;
    }

    .contact {
        display: none;
    }

    /*Сontent mobile*/
    .contact-mobile {
        display: inline-block;
    }

    .fa-phone {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .fa-phone:before {
        font-size: 25px;
        color: #555;
    }

    .mobile-nav {
        width: 100%;

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        -ms-align-items: center;
        align-items: center;
    }

    .hamburg-menu {
        position: relative;
        width: 40px;
        height: 40px;

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: center;

        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .hamburg-btn {
        position: relative;

        width: 30px;
        height: 2px;

        border-radius: 5px;
        background-color: #555;

        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        z-index: 1500;
    }

    .hamburg-btn::before,
    .hamburg-btn::after {
        content: "";
        position: absolute;

        width: 30px;
        height: 2px;

        background-color: #555;
        border-radius: 5px;

        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        z-index: 30;
    }

    .hamburg-btn::before {
        left: 0;

        background-color: #555;

        -webkit-transform: translateY(-7px) translateX(0);
        -ms-transform: translateY(-7px) translateX(0);
        -o-transform: translateY(-7px) translateX(0);
        transform: translateY(-7px) translateX(0);
    }


    .hamburg-btn::after {
        left: 0;

        background-color: #555;

        -webkit-transform: translateY(7px);
        -ms-transform: translateY(7px);
        -o-transform: translateY(7px);
        transform: translateY(7px);
    }

    /*    Animation*/
    .hamburg-menu.open .hamburg-btn {
        background-color: transparent;
        border: none;

        -webkit-transform: translateX(-55px);
        -ms-transform: translateX(-55px);
        -o-transform: translateX(-55px);
        transform: translateX(-55px);
    }

    .hamburg-menu.open .hamburg-btn::before {
        background-color: #555;

        -webkit-transform: rotate(45deg) translate(35px, -35px);
        -ms-transform: rotate(45deg) translate(35px, -35px);
        -o-transform: rotate(45deg) translate(35px, -35px);
        transform: rotate(45deg) translate(35px, -35px);
    }

    .hamburg-menu.open .hamburg-btn::after {
        background-color: #555;

        -webkit-transform: rotate(45deg) translate(35px, -35px);
        -ms-transform: rotate(-45deg) translate(35px, 35px);
        -o-transform: rotate(-45deg) translate(35px, 35px);
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .header-menu {
        position: fixed;
        top: 0;
        left: 0;

        background-color: #fff;
        color: #555;
        text-align: left;

        height: 100%;
        width: 100%;

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        padding: 100px 0 85px 60px;

        transition: transform 0.3s ease;
        transform: translatex(-200%);
        transition: all 0.4s;

        opacity: 0;
        z-index: 1000;
    }

    .header-menu.active {
        opacity: 1;
        transform: translateY(0%);
        overflow-y: auto;
    }

    .menu-nav-list {
        width: 80%;
    }

    .menu-contact-list {
        width: 80%;
        padding-top: 50px;
    }

    .menu-link {
        color: #000;
        font-size: 24px;
        letter-spacing: 3px;
        line-height: 1.2;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
    }

    .menu-item:not(:last-child) {
        padding-bottom: 25px;
    }

    .menu-contact-link {
        color: #555;
        font-size: 20px;
    }

    /*Title style*/
    .title {
        font-size: 28px;
        text-align: left;

        padding-top: 25px;
    }

    .title::before,
    .title::after {
        width: 0;
        height: 0;
    }

    /*Subtitle style*/
    .subtitle {
        text-align: left;
        padding-top: 20px;
    }

    .subtitle p:not(:last-child) {
        padding-bottom: 10px;
    }

    /*Comments section*/
    .comments {
        margin-top: 40px;
        padding: 15px 20px;
    }

    .comments::before {
        top: -25px;
        left: -15px;
    }

    .comments::after {
        bottom: -25px;
        right: -15px;
    }

    /*Parameters*/
    .parameters-content {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .parameters-img {
        width: 100%;
        height: 100%;

        padding-bottom: 20px;
    }

    .parameters-price {
        font-size: 20px;
        padding-top: 10px;
    }

    .parameters-title {
        font-size: 25px;
    }

    /*Wrapper img section*/
    .wrapper-img {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        margin-top: 20px;
    }

    .wrapper-img img {
        width: 100%;
    }

    .wrapper-img img:not(:last-child) {
        padding-bottom: 10px;
    }

    /*Footer section*/
    .footer {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: flex-start;
        align-items: flex-start;
    }

    .footer-logo {
        text-align: left;
        font-size: 24px;
        padding: 0px 20px 10px;
    }

    .footer-nav-wrapper {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        padding: 40px 0;
    }

    .footer-nav {
        padding: 20px 20px 0;
    }

    .footer-nav:not(:last-child) {
        padding-bottom: 40px;
    }

    .footer-nav-title {
        font-size: 22px;
        text-align: left;
        padding-bottom: 15px;
    }

    .footer-nav-link {
        text-align: left;
    }

    /******  Home section  ******/
    .main-page {
        color: #555;
        position: static;
        background: #fff;
        z-index: 0;
    }

    /******  Intro section  ******/
    .intro {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
    }

    .title-intro {
        color: #000;
        font-size: 28px;
        text-align: center;
    }

    /******  Using section  ******/
    .using {
        transform: skew(0deg, 0deg) translateY(0);
        height: 100%;

        background: #fff;
    }

    .diagonal-line {
        transform: skew(0deg, 0deg);
    }

    .using-title {
        color: #000;
        font-size: 28px;
        text-align: center;
        padding-top: 25px;
    }

    .using-title::before,
    .using-title::after {
        width: 0;
        height: 0;
    }

    .using-cards-wrapper {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        padding-top: 50px;
        padding-bottom: 20px;
    }

    .using-card {
        width: 100%;
        margin-bottom: 40px;
    }

    .using-card-title {
        color: #000;
        font-size: 19px;
        line-height: 1.2;
        text-align: center;

        padding-top: 3px;
    }

    .using-card-subtitle {
        color: #555;
        padding-top: 10px;
    }

    /*    Manufacturing section*/
    .manufacturing-title {
        font-size: 30px;
        text-align: center;
        padding-top: 25px;
    }

    .manufacturing-title::before,
    .manufacturing-title::after {
        width: 0;
        height: 0;
    }

    .manufacturing-subtitle {
        text-align: center;
        padding-top: 15px;
    }

    .manufacturing-card-wrapper {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        margin-top: 40px;
    }

    .manufacturing-card {
        width: 100%;
    }

    .manufacturing-card-title {
        font-size: 24px;
    }
}

/*For medium screen tablets*/
@media screen and (min-width: 576px) and (max-width: 1367px) {
    .content {
        max-width: 950px;
    }

    .mobile-nav {
        display: none;
    }

    body {
        font-size: 18px;
    }

    section {
        padding-top: 65px;
    }

    iframe {
        width: 80%;
    }

    .header {
        height: 70px;
    }

    /*     Title section*/
    .title {
        font-size: 27px;
    }

    /*    Subtitle section*/
    .subtitle {
        font-size: 18px;
    }

    /*    Header animation*/
    @keyframes fixedMenu {
        0% {
            height: 20xp;
        }

        50% {
            height: 80px;
        }

        100% {
            height: 70px;
        }
    }

    /*    Parameters section*/
    .parameters-title {
        font-size: 27px;
    }

    .parameters-img {
        width: 70%;
    }

    /*    Intro section*/
    .title-intro {
        font-size: 38px;
    }

    .wrapper-img img:not(:last-child) {
        margin-right: 10px;
    }
}

/*For larg screen tablets*/
@media screen and (min-width: 805px) and (max-width: 1367px) {
    .wrapper-img {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .wrapper-img img {
        width: 45%;
    }

    /* For mobile version */
    .hamburg-menu {
        display: none;
    }

    .contact-mobile {
        display: none;
    }

    /* Desktop version ON*/
    .big-screen-nav-wrapper {
        display: block;
    }

    .logo {
        display: block;
        color: #555;
    }

    /*    Comments section*/
    .comments {
        margin-bottom: 20px;
    }

    /*    YouTube section*/
    .youtube-video {
        height: 553px;
    }

    /*    Using section*/
    .using-cards-wrapper {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        justify-content: space-around;
    }

    .using-card {
        width: 45%;
    }

    /*    Manufacturing section*/
    .manufacturing-card-wrapper {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        justify-content: space-around;
    }

    .manufacturing-card {
        width: 45%;
    }

    /*    Footer section*/
    .footer {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        -ms-align-items: center;
        align-items: center;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-nav-wrapper {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;

        padding: 0;
    }

    .footer-nav-link {
        line-height: 1.4;
    }

    .footer-nav-link:not(:last-child) {
        padding-bottom: 10px;
    }
}

/*Turn off nav in 'home page' after screen 1368*/
@media screen and  (min-width: 1368px) {
    .header-turn-off {
        display: none;
    }
}

